<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game of thrones quotes</title>
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body>
    <h1>Famous Game of Thrones Quotes</h1>
    <p class="user">
        <%= characterName %> "<%= characterSlug %>"
    </p>

    <!-- Will put an if else statement wherein each character has their own pictures in the next update -->
    <div class="card">
        <img src="../images/gameofthronespicture.jpg" alt="gameofthronespicture">
    </div>

      <p class="user">
        <%= houseName %>
    </p>
    <p class="user"><%= sentence %></p>
  </body>
</html>
